[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

pillow = ">=5.0.0, <6"
setuptools = "*"
twine = "*"


[dev-packages]



[requires]

python_version = "3.5"
